[submodule "tlsfuzzer"]
	path = tlsfuzzer
	url = https://github.com/Blitzy-Sandbox/tlsfuzzer-1.git
[submodule "python-ecdsa"]
	path = python-ecdsa
	url = https://github.com/Blitzy-Sandbox/python-ecdsa-1.git
[submodule "tlslite-ng"]
	path = tlslite-ng
	url = https://github.com/Blitzy-Sandbox/tlslite-ng-1.git
